.header{

    color: #fff;
}
.header__logo{
margin: auto;
}
.header__title{
font-family: "InterVariable", sans-serif;
font-weight: 900;
font-style: Black;
font-size: 96px;
leading-trim: NONE;
line-height: 100px;
letter-spacing: 0%;
text-align: center;
color: rgba(255, 255, 255, 1);

}
.header__title-accent{
    display: block;
}
.header_subtitle{
font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 30px;
leading-trim: NONE;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.header__subtitle-acccent{
    display: block;
}
.header__img{

}