html{
    font-size: 62.5%;
}
.page{
    background: rgba(42, 44, 47, 1);
    margin: 0;
    font-family: "Inter";
    max-width: 1400px;
    min-width: 320px;
    box-sizing: border-box;
    padding: 0;
}


