.photo{
    display: block;
}
.photo__items{
    margin-top: 118px;
    margin-left: 43px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

}
.photo__item{

}
@media (max-width:800px) {
    .photo__items{
        margin-top: 64px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:450px) {
.photo__items{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 38px;
        margin-left: 16px;

}    
}

