.photo-grid{
    display: block;
}
.grid__items{
    margin-top: 118px;
    margin-left: 43px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

}
@media (max-width:800px) {
    .grid__items{
        margin-top: 64px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:450px) {
.grid__items{
        grid-template-columns: repeat(1, 1fr);
        margin: 38 auto;

}    
}
.grid__item{

}
.grid__item_1{

}
.grid__item_2{

}
.grid__item_3{

}
.grid__item_4{

}
.grid__item_5{

}
.grid__item_6{

}
.grid__item_7{

}